apiVersion: apps/v1
kind: Deployment
metadata:
  name: trino
  namespace: retail-risk
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trino
  template:
    metadata:
      labels:
        app: trino
    spec:
      containers:
        - name: trino
          image: trinodb/trino:475
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: JAVA_TOOL_OPTIONS
              value: "-Xms512m -Xmx1024m"
          resources:
            requests:
              cpu: 500m
              memory: 1Gi
            limits:
              cpu: "1"
              memory: 1500Mi
---
apiVersion: v1
kind: Service
metadata:
  name: trino
  namespace: retail-risk
spec:
  selector:
    app: trino
  ports:
    - name: http
      port: 8080
      targetPort: 8080
